# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.env/

# Django
*.log
db.sqlite3
media/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Static files collected for production
staticfiles/
static_root/
